*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/images_lab
/app/Llave
/captures
.externalNativeBuild
.env
.env.example
.env.production
.gitattributes
.gitignore
.editorconfig
*.sh
.sh
.git
.ftpconfig
.ftpignore
.md
.idea
storage
storage/app/public
storage/app/public/
/storage/app/public/
/storage/app/public
otros
/otros
otros/
